CardMarketService/src/main/resources/com/capgemaxi/WebService/xsd/response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="idProduct"/>
              <xs:element type="xs:short" name="idMetaproduct"/>
              <xs:element type="xs:byte" name="countReprints"/>
              <xs:element type="xs:string" name="enName"/>
              <xs:element type="xs:string" name="locName"/>
              <xs:element name="localization" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:byte" name="idLanguage"/>
                    <xs:element type="xs:string" name="languageName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="website"/>
              <xs:element type="xs:string" name="image"/>
              <xs:element type="xs:string" name="gameName"/>
              <xs:element type="xs:string" name="categoryName"/>
              <xs:element type="xs:byte" name="idGame"/>
              <xs:element type="xs:byte" name="number"/>
              <xs:element type="xs:string" name="rarity"/>
              <xs:element name="expansion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="idExpansion"/>
                    <xs:element type="xs:string" name="enName"/>
                    <xs:element type="xs:byte" name="expansionIcon"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="priceGuide">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="SELL"/>
                    <xs:element type="xs:float" name="LOW"/>
                    <xs:element type="xs:float" name="LOWEX"/>
                    <xs:element type="xs:float" name="LOWFOIL"/>
                    <xs:element type="xs:float" name="AVG"/>
                    <xs:element type="xs:float" name="TREND"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reprint" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="idProduct"/>
                    <xs:element type="xs:string" name="expansion"/>
                    <xs:element type="xs:short" name="expIcon"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="countArticles"/>
              <xs:element type="xs:byte" name="countFoils"/>
              <xs:element name="links" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="rel"/>
                    <xs:element type="xs:string" name="href"/>
                    <xs:element type="xs:string" name="method"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>